body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:gray;
    text-align: center;
    background-image: url("img/Iron Man bullet.jpg");
}
span{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: tomato;
}

#contenedor{
    margin-left: 10%;
    width: 80%;
    border: 5px solid black;
    text-align: center;
}
#cabecera_master{
    background-color: #08419c;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(189, 187, 187);
}