body{
    font-size: 100px;
    color:chartreuse;
    text-align: center;
}
#cabecera_master{
    background-color: tomato;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}